* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(120deg, #eb3349, #f45c43);
    color: white;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header, form {
    display: flex;
    min-height: 20vh;
    align-items: center;
    justify-content: center;
}

form input, form button {
    border: none;
    outline: none;
    padding: 0.5rem;
    background: white;
    font-size: 2rem;
}

form button {
    color: #eb3349;
    cursor: pointer;
    transition: all 0.2s ease;
}

form button:hover {
    color: white;
    background: #f45c43;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toDo-list {
    min-width: 24%;
    list-style: none;
}

.toDo {
    background: white;
    color: black;
    margin: 0.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .7s ease;
}

.complete-btn, .delete-btn {
    background: #f45c43;
    color: white;
    padding: 1rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    outline: none;
}

.toDo li {
    flex: 1;
}

.complete-btn {
    background: rgba(0, 128, 0, 0.49);
}

.toDo-item {
    padding: 0 0.8rem;
}

.fa-trash, .fa-check {
    pointer-events: none;
}

.completed {
    opacity: .5;
    text-decoration: line-through;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select {
    border: none;
    outline: none;
    appearance: none;
    -webkit-appearance: none;


}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select{
    cursor: pointer;
    width: 10rem;
    color: #f45c43;
    padding: 1rem;
    font-style: italic;
}

.select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background: #f45c43;
    pointer-events: none;
    transition: all .3s ease;
}

.select:hover::after {
    background: white;
    color: #f45c43;
}
